#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# InfoConfig.xml files
#//////////////////////////
**/InfoConfig.xml
*.bak
update/